/* print styles for mkdocs material theme 
https://github.com/squidfunk/mkdocs-material */


/* Table of Contents styling */

.print-page-toc-nav {
    margin-bottom: 1.6em;
}
#print-page-toc ul {
    /* margin-left: 1.6em; */
    margin-top: 0;
    margin-bottom: 0;
    list-style-position: inside;
}
#print-page-toc ul.print-site-toc-level-2,ul.print-site-toc-level-3,ul.print-site-toc-level-4,ul.print-site-toc-level-5,ul.print-site-toc-level-6 {
    margin-left: 1.6em;
}
#print-page-toc ul li {
    margin-left: 0;
    margin-bottom: 0.2em;
}
ul.print-site-toc-level-1 {
    list-style-type: none;
}
ul.print-site-toc-level-1 li a {
    font-weight: bold;
    font-size: 120%;
}
ul.print-site-toc-level-2 li a {
    font-weight: normal;
    font-size: 100%;
    margin-bottom: 0em;
}


/* Box shadows don't do well in PDFs */
table {
    border: 1px solid hsla(200, 18%, 26%, 1); /* #EFEFEF */
    box-shadow: none !important;
}

@media print {
    td {
        word-wrap: break-word;
    }
}

@page {

    size: a4 portrait;
    margin: 15mm 10mm 25mm 10mm;
    counter-increment: page;

    @bottom-center {
        content: string(chapter);
    }
    @bottom-right {
        content: 'Page ' counter(page);
    }

}