/* Print styles for default MkDocs theme  */

#print-site-banner { 
    padding-top: 1em;
 }

@media print {

    /* Hide side TOC banner */
    #print-site-page .col-md-3 { display: none !important; }
}

@page {

    /* 
        Note this CSS file is added to all MkDocs pages
        So this @page logic will affect print of all pages
    */

    size: a4 portrait;
    margin: 15mm 10mm 15mm 10mm;
    counter-increment: page;

    @bottom-center {
        content: string(chapter);
    }
    @bottom-right {
        content: 'Page ' counter(page);
    }
}