/* print styles for mkdocs material theme 
https://github.com/squidfunk/mkdocs-material */


/* Table of Contents styling */
.print-page-toc-title {
    padding-bottom: 0em;
    margin-bottom: 0;
}

#print-site-page ul.toc-section-line-border { 
    border-left: 5px solid var(--md-default-fg-color--lightest);
}


/* Box shadows don't do well in PDFs */
#print-site-page table {
    border: 1px solid hsla(200, 18%, 26%, 1); /* #EFEFEF */
    box-shadow: none !important;
}

@media print {
    #print-site-page td {
        word-wrap: break-word;
    }
}

@page {

    /* 
        Note this CSS file is added to all MkDocs pages
        So this @page logic will affect print of all pages
    */

    size: a4 portrait;
    margin: 15mm 10mm 25mm 10mm;
    counter-increment: page;

    @bottom-center {
        content: string(chapter);
    }
    @bottom-right {
        content: 'Page ' counter(page);
    }

}