name: Unit tests
on: [pull_request]
jobs:
  run:
    name: Run unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: 
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@master
    - name: Setup Python  
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Static code checking with pyflakes
      run: |
        pip install pyflakes
        pyflakes mkdocs_print_site_plugin
    - name: Generate coverage report
      run: |
        pip install -r tests/test_requirements.txt
        pip install .
        pytest --cov=mkdocs_print_site_plugin --cov-report=xml